        
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        
        
       
        <li>
            <a href="#/wireless"><i class="fa fa-table"></i><span data-i18n="wireless"></span></a>
            <ul>
                <li><a href="#/wireless/call"><i class="fa fa-caret-right"></i><span data-i18n="Call anaylsis"></span></a></li>
                <li><a href="#/wireless/rcf"><i class="fa fa-caret-right"></i><span data-i18n="RCF analysis"></span></a></li>
                
            </ul>
        </li>
        <li>
            <a href="#/form"><i class="fa fa-pencil"></i><span data-i18n="wireline"></span></a>
            <ul>
                <li><a href="#/wireline/sms"><i class="fa fa-caret-right"></i><span data-i18n="SMS analysis"></span></a></li>
                <li><a href="#/wireline/dropcall"><i class="fa fa-caret-right"></i><span data-i18n="Dropcall analysis"></span></a></li>
               
            </ul>
        </li>
       <li>
            <a href="#/charts"><i class="fa fa-bar-chart-o"></i><span data-i18n="Long Distance"></span></a>
            <ul>
                <li><a href="#/longdistance/rms"><i class="fa fa-caret-right"></i><span data-i18n="RMS analysis"></span></a></li>
                <li><a href="#/longdistance/voice"><i class="fa fa-caret-right"></i><span data-i18n="voice analysis"></span></a></li>
                
            </ul>
        </li>
       
    </ul>
</div>
