<div class="page page-table">

    <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Call analysis</strong></div>
     <img src="http://www.tri-line.com/products/tim_plus/img/reports/call_analysis.png"/>

  <img src="http://www.armchairmotor.com/call-analysis-report1.jpg"/>
    <img ng-src="{{image}}"/>
    </div>

    
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">

        </div>
    </div>

</div>
